/*
 * Special formatting for the resume page
 *
 * Mark A. Sheldon, Comp 20, 2019 Summer
 *
 */

body {
    max-width:  36em;
}

header h1 {
    text-align:  center;
}

main section p,
main section table {
    margin-left:  2em;
}

.courselist {
    columns: 100px 2;
}

footer {
    font-size:   small;
    text-align:  right;
}
